<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>

      <ion-card-title>
        Bienvenido
      </ion-card-title>

      <ion-item>
        <ion-avatar item-start>
          <!--<img src="assets/imgs/user.png">-->
          <img src="http://www.siescolar.xyz/siescolar/uploads/imagenes/fotos/{{session?.id_persona}}.jpg">
        </ion-avatar>
          
        <h2>{{session?.nombres}}</h2>
        <h2>{{session?.apellido1}} {{session?.apellido2}}</h2>
        <p>Rol: {{session?.rol}}</p>
        <p>Usuario: {{session?.username}}</p>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>

      <ion-card-title>
        Acudidos
      </ion-card-title>

      <ion-list>
        <ion-item ion-item *ngFor="let acudido of listaacudidos">
          <ion-avatar item-start>
            <img src="http://www.siescolar.xyz/siescolar/uploads/imagenes/fotos/{{acudido.id_estudiante}}.jpg">
          </ion-avatar>
          <h2>{{ acudido.nombres }} {{ acudido.apellido1 }}</h2>
          <p>Curso: {{ acudido.nombre_grado }} {{ acudido.nombre_grupo }} {{ acudido.jornada }}</p>
          <p>Aula: {{ acudido.nombre_salon }} </p>
        </ion-item>

        <div *ngIf="listaacudidos?.length == 0" class="listavacia">
          <ion-icon item-start name="information-circle"></ion-icon>
          <h2>No Tiene Acudidos</h2>
        </div>

        <div *ngIf="errormensaje == 'ServerError'" class="error">
          <p><b>No hay Información Disponible</b></p>
        </div>
      </ion-list>

    </ion-card-content>
  </ion-card>   
  
  <!--<button ion-button (click)="logout()">Cerrar Sesion</button>-->
</ion-content>
